.nasa {
	margin: 2%;
	margin-left: 5%;
	border: 2%;
	padding: 2%;
	width: 850px;
	height: 450px;
	position: relative;
}

.title {
	position: absolute;
	margin-left: 700%;
	font-family: lucida;
	top: 400px;
	right: -400px;
	color: white;
	font-size: 90px;
}
.info {
	margin-bottom: 200px;
	display: grid;
	grid-column: 1 2 3;
}
