body {
	background-color: lightskyblue;
}
header {
	font-family: "Cute Font", cursive;
	font-size: 75px;
	text-align: center;
	color: white;
	border: 5px solid;
	border-radius: 3%;
	margin: 35px;
}
.container {
	display: grid;
	grid-row: auto;
	margin-left: 41px;
	width: 90%;
	height: 90%;
	border: 3px solid;
	color: white;
	border-radius: 3%;
}
.two {
	display: grid;
	grid-column: 1;
	font-size: 40px;
	font-family: "Cute Font", cursive;
}
.clockdate-wrapper {
	background-color: lightsalmon;
	padding: 5px;
	max-width: 350px;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

#clock {
	background-color: lightsalmon;

	font-family: sans-serif;
	font-size: 60px;
	text-shadow: 0px 0px 1px #fff;
	color: #fff;
}
#clock span {
	color: #888;
	text-shadow: 0px 0px 1px #333;
	font-size: 30px;
	position: relative;
	top: -27px;
	left: -10px;
}
#date {
	letter-spacing: 10px;
	font-size: 14px;
	font-family: arial, sans-serif;
	color: #fff;
}
.three {
	display: grid;
	grid-column: 2;
	font-size: 40px;
	font-family: "Cute Font", cursive;
}
.four {
	display: grid;
	grid-column: 3;
	font-size: 40px;
	font-family: "Cute Font", cursive;
}
.five {
	display: grid;
	grid-column: 4;
	font-size: 40px;
	font-family: "Cute Font", cursive;
}
.Calc {
	margin-top: 5%;
	margin-bottom: 5%;
}
.one {
	display: grid;
	grid-row: 8;
	width: 100%;
	height: 100%;
	border: 2px solid;
	position: center;
}
img {
	height: 100px;
	width: 100px;
	margin-top: 5%;
	margin-bottom: 5%;
}
