.grid-container {
	display: grid;
	grid-row-start: auto;
	grid-gap: 35px;
	background-color: #0350df;
	padding: 20px;
	align-content: auto;
	grid-column-start: auto;
}

.grid-container > div {
	background-color: rgba(230, 8, 8, 0.8);
	border: 1px solid black;
	text-align: center;
	font-size: 30px;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30vh;
	width: 50vw;
}

#container {
	width: 200px;
	padding: 8px 8px 20px 8px;
	margin: 20px auto;
	background-color: yellow;
	border-radius: 50px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #c1c1c1;
	border-left: 2px solid #c1c1c1;
	box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.6),
		inset -100px 0px 100px rgba(255, 255, 255, 0.5);
}

#display {
	display: block;
	margin: 12px auto;
	height: 42px;
	width: 240px;
	padding: 0 10px;
	border-radius: 4px;
	border-top: 2px solid #c1c1c1;
	border-right: 2px solid #c1c1c1;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	background-color: #fff;
	box-shadow: inset 0px 0px 50px #030303,
		inset 0px -20px 1px rgba(150, 150, 150, 0.2);
	font-size: 28px;
	color: #666;
	text-align: right;
	font-weight: 400;
}

.button {
	display: inline-block;
	margin-left: 25px;
	margin-right: 10px;
	width: 42px;
	height: 42px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 20px;
}

.mathButtons {
	margin: 2px 2px 6px 2px;
	color: lightblue;
	text-shadow: -1px -1px 0px #000000;
	background-color: #7f7771;
	border-top: -1px solid #c1c1c1;
	border-right: 2px solid #c1c1c1;
	border-bottom: 2px solid #181818;
	border-left: 2px solid #181818;
	box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #2e2e2e;
}

.digits {
	color: #181818;
	text-shadow: 1px 1px 0px #fff;
	background-color: #ebebeb;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #c1c1c1;
	border-left: 2px solid #c1c1c1;
	border-radius: 4px;
	box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #dcdcdc;
}

.digits:hover,
.mathButtons:hover,
#clearButton:hover {
	background-color: #defec8;
	box-shadow: 0px 0px 2px #ffba75, inset 0px -20px 1px #ff8000;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #ae5700;
	border-left: 2px solid #ae5700;
}

#clearButton {
	color: #fff;
	text-shadow: -1px -1px 0px #44006f;
	background-color: #d20000;
	border-top: 2px solid #ff8484;
	border-right: 2px solid #ff8484;
	border-bottom: 2px solid #800000;
	border-left: 2px solid #800000;
	box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #b00000;
}
body {
	background: url(/MyPortfolio/Source/images/brickwall.jpeg);
	background-color: #424242;
	font-family: ‘Aldrich;
	font-size: 22px;
}
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
.calculator {
	border: 1px solid #ccc;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
}
.calculator-screen {
	width: 100%;
	font-size: 5rem;
	height: 80px;
	border: none;
	background-color: #252525;
	color: #fff;
	text-align: right;
	padding-right: 20px;
	padding-left: 10px;
}
button {
	height: 60px;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #c4c4c4;
	background-color: transparent;
	font-size: 2rem;
	color: #333;
	background-image: linear-gradient(
		to bottom,
		transparent,
		transparent 50%,
		rgba(0, 0, 0, 0.04)
	);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
		inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
		inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
		0 1px 0 0 rgba(255, 255, 255, 0.15);
	text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

button:hover {
	background-color: #eaeaea;
}

.operator {
	color: #337cac;
}

.all-clear {
	background-color: #f0595f;
	border-color: #b0353a;
	color: #fff;
}

.all-clear:hover {
	background-color: #f17377;
}

.equal-sign {
	background-color: #2e86c0;
	border-color: #337cac;
	color: #fff;
}

.equal-sign:hover {
	background-color: #4e9ed4;
}
.calculator-keys {
	display: grid;
}
.calculator-keys {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.calculator-keys {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.calculator-keys {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}
.calculator-keys {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	padding: 20px;
}
.equal-sign {
	background-color: #2e86c0;
	border-color: #337cac;
	color: #fff;
	grid-row-start: 2;
}
.equal-sign {
	background-color: #2e86c0;
	border-color: #337cac;
	color: #fff;
	height: 100%;
	grid-row-start: 2;
	grid-row-end: 6;
	grid-column-start: 4;
	grid-column-end: 5;
}
.equal-sign {
	background-color: #2e86c0;
	border-color: #337cac;
	color: #fff;
	height: 100%;
	grid-row: 2 / 6;
	grid-column: 4 / 5;
}
.equal-sign {
	background-color: #2e86c0;
	border-color: #337cac;
	color: #fff;
	height: 100%;
	grid-area: 2 / 4 / 6 / 5;
}
@media (min-width: 400px) {
	.grid-container {
		display: grid;
		grid-row-start: auto;
		grid-gap: 25px;
		background-color: #0350df;
		padding: 10px;
		align-content: auto;
		grid-column-start: auto;
	}

	.grid-container > div {
		background-color: rgba(230, 8, 8, 0.8);
		border: 1px solid black;
		text-align: center;
		font-size: 20px;
	}
	body {
		background: url(https://static.pexels.com/photos/220182/pexels-photo-220182.jpeg);
		background-color: #424242;
		font-family: ‘Aldrich’;
		font-size: 13px;
	}
	*,
	*::before,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: inherit;
	}
	.calculator {
		border: 1px solid #ccc;
		border-radius: 3px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 200px;
	}
	.calculator-screen {
		width: 90%;
		font-size: 5rem;
		height: 80px;
		border: none;
		background-color: #252525;
		color: #fff;
		text-align: right;
		padding-right: 20px;
		padding-left: 10px;
	}
	button {
		height: 40px;
		background-color: #fff;
		border-radius: 3px;
		border: 1px solid #c4c4c4;
		background-color: transparent;
		font-size: 2rem;
		color: #333;
		background-image: linear-gradient(
			to bottom,
			transparent,
			transparent 50%,
			rgba(0, 0, 0, 0.04)
		);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
			inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
			inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
			0 1px 0 0 rgba(255, 255, 255, 0.15);
		text-shadow: 0 1px rgba(255, 255, 255, 0.4);
	}

	button:hover {
		background-color: #eaeaea;
	}

	.operator {
		color: #337cac;
	}

	.all-clear {
		background-color: #f0595f;
		border-color: #b0353a;
		color: #fff;
	}

	.all-clear:hover {
		background-color: #f17377;
	}

	.equal-sign {
		background-color: #2e86c0;
		border-color: #337cac;
		color: #fff;
	}

	.equal-sign:hover {
		background-color: #4e9ed4;
	}
	.calculator-keys {
		display: grid;
	}
	.calculator-keys {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.calculator-keys {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.calculator-keys {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-row-gap: 20px;
		grid-column-gap: 20px;
	}
	.calculator-keys {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 15px;
		padding: 15px;
	}
	.equal-sign {
		background-color: #2e86c0;
		border-color: #337cac;
		color: #fff;
		grid-row-start: 2;
	}
	.equal-sign {
		background-color: #2e86c0;
		border-color: #337cac;
		color: #fff;
		height: 100%;
		grid-row-start: 2;
		grid-row-end: 6;
		grid-column-start: 4;
		grid-column-end: 5;
	}
	.equal-sign {
		background-color: #2e86c0;
		border-color: #337cac;
		color: #fff;
		height: 900%;
		grid-row: 2 / 6;
		grid-column: 4 / 5;
	}
	.equal-sign {
		background-color: #2e86c0;
		border-color: #337cac;
		color: #fff;
		height: 100%;
		grid-area: 2 / 4 / 6 / 5;
	}

	@media (max-width: 800px) {
		.grid-container {
			display: grid;
			grid-row-start: auto;
			grid-gap: 25px;
			background-color: #0350df;
			padding: 20px;
			align-content: auto;
			grid-column-start: auto;
		}

		.grid-container > div {
			background-color: rgba(230, 8, 8, 0.8);
			border: 1px solid black;
			text-align: center;
			font-size: 30px;
		}
		body {
			background: url(https://static.pexels.com/photos/220182/pexels-photo-220182.jpeg);
			background-color: #424242;
			font-family: ‘Aldrich’;
			font-size: 22px;
		}
		*,
		*::before,
		*::after {
			margin: 0;
			padding: 0;
			box-sizing: inherit;
		}
		.calculator {
			border: 1px solid #ccc;
			border-radius: 5px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 400px;
		}
		.calculator-screen {
			width: 100%;
			font-size: 5rem;
			height: 80px;
			border: none;
			background-color: #252525;
			color: #fff;
			text-align: right;
			padding-right: 20px;
			padding-left: 10px;
		}
		button {
			height: 60px;
			background-color: #fff;
			border-radius: 3px;
			border: 1px solid #c4c4c4;
			background-color: transparent;
			font-size: 2rem;
			color: #333;
			background-image: linear-gradient(
				to bottom,
				transparent,
				transparent 50%,
				rgba(0, 0, 0, 0.04)
			);
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
				inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
				inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
				0 1px 0 0 rgba(255, 255, 255, 0.15);
			text-shadow: 0 1px rgba(255, 255, 255, 0.4);
		}

		button:hover {
			background-color: #eaeaea;
		}

		.operator {
			color: #337cac;
		}

		.all-clear {
			background-color: #f0595f;
			border-color: #b0353a;
			color: #fff;
		}

		.all-clear:hover {
			background-color: #f17377;
		}

		.equal-sign {
			background-color: #2e86c0;
			border-color: #337cac;
			color: #fff;
		}

		.equal-sign:hover {
			background-color: #4e9ed4;
		}
		.calculator-keys {
			display: grid;
		}
		.calculator-keys {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		.calculator-keys {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
		}
		.calculator-keys {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-row-gap: 20px;
			grid-column-gap: 20px;
		}
		.calculator-keys {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 20px;
			padding: 20px;
		}
		.equal-sign {
			background-color: #2e86c0;
			border-color: #337cac;
			color: #fff;
			grid-row-start: 2;
		}
		.equal-sign {
			background-color: #2e86c0;
			border-color: #337cac;
			color: #fff;
			height: 100%;
			grid-row-start: 2;
			grid-row-end: 6;
			grid-column-start: 4;
			grid-column-end: 5;
		}
		.equal-sign {
			background-color: #2e86c0;
			border-color: #337cac;
			color: #fff;
			height: 100%;
			grid-row: 2 / 6;
			grid-column: 4 / 5;
		}
		.equal-sign {
			background-color: #2e86c0;
			border-color: #337cac;
			color: #fff;
			height: 100%;
			grid-area: 2 / 4 / 6 / 5;
		}

		.container {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 55vh;
			width: 100vw;
		}
		#container {
			width: 300px;
			padding: 8px 8px 20px 8px;
			margin: 20px auto;
			background-color: indigo;
			border-radius: 50px;
			border-top: 2px solid #fff;
			border-right: 2px solid #fff;
			border-bottom: 2px solid #c1c1c1;
			border-left: 2px solid #c1c1c1;
			box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.6),
				inset -100px 0px 100px rgba(255, 255, 255, 0.5);
		}
		#display {
			display: block;
			margin: 15px auto;
			height: 42px;
			width: 174px;
			padding: 0 10px;
			border-radius: 4px;
			border-top: 2px solid #c1c1c1;
			border-right: 2px solid #c1c1c1;
			border-bottom: 2px solid #fff;
			border-left: 2px solid #fff;
			background-color: #fff;
			box-shadow: inset 0px 0px 10px #030303,
				inset 0px -20px 1px rgba(150, 150, 150, 0.2);
			font-size: 28px;
			color: #666;
			text-align: right;
			font-weight: 400;
		}
		.button {
			display: inline-block;
			margin-left: 25px;
			margin-right: 10px;
			width: 42px;
			height: 42px;
			font-size: 20px;
			font-weight: bold;
			border-radius: 20px;
		}
		.mathButtons {
			margin: 2px 2px 6px 2px;
			color: lightblue;
			text-shadow: -1px -1px 0px #44006f;
			background-color: #7f7771;
			border-top: 2px solid #c1c1c1;
			border-right: 2px solid #c1c1c1;
			border-bottom: 2px solid #181818;
			border-left: 2px solid #181818;
			box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #2e2e2e;
		}
		.digits {
			color: #181818;
			text-shadow: 1px 1px 0px #fff;
			background-color: #ebebeb;
			border-top: 2px solid #fff;
			border-right: 2px solid #fff;
			border-bottom: 2px solid #c1c1c1;
			border-left: 2px solid #c1c1c1;
			border-radius: 4px;
			box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #dcdcdc;
		}
		.digits:hover,
		.mathButtons:hover,
		#clearButton:hover {
			background-color: #defec8;
			box-shadow: 0px 0px 2px #ffba75, inset 0px -20px 1px #ff8000;
			border-top: 2px solid #fff;
			border-right: 2px solid #fff;
			border-bottom: 2px solid #ae5700;
			border-left: 2px solid #ae5700;
		}
		#clearButton {
			color: #fff;
			text-shadow: -1px -1px 0px #44006f;
			background-color: #d20000;
			border-top: 2px solid #ff8484;
			border-right: 2px solid #ff8484;
			border-bottom: 2px solid #800000;
			border-left: 2px solid #800000;
			box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #b00000;
		}
	}
}
